@charset "ISO-8859-1";
 .vertical-nav{
        margin-top:10px;
        height: 560px;
        width: 250px;
        background-color:black;
      }
      .vertical-nav ul li a{
        width: 255px; 
        color: white;
        display: inline-block;
        text-decoration: none;
        border-radius: 10px;
        font-size: 1.4em;
      }
      .vertical-nav ul li a:hover{
        background-color: blue;
      }

      #title{
        text-align: center; 
        color: black;
      }
      .frame{
        width: 79%; 
        height: 560px;
        border: 2px solid lightblue ; 
        margin-left: 260px;
        margin-top: -200px;
       }
       #title h2{
        display: inline;
       }
